<div class="container mx-auto">
  <div class="max-w-lg mx-auto mb-4 bg-white shadow-md rounded-lg px-8 pt-6 pb-8">
    <div class="flex items-center mb-4">
      <span class="text-gray-700 text-xl"><%= @post.user.username %></span>
    </div>
    <div class="text-gray-800 text-lg">
      <%= @post.body %>
    </div>
    <% if @post.image? %>
      <div class="mt-4">
        <%= image_tag @post.image.url, class: "w-full h-auto rounded-lg" %>
      </div>
    <% end %>
    <div class="flex items-center justify-between py-4">
      <% if @post.liked?(current_user) %>
        <%= button_to post_like_path(@post, find_user_like(current_user, @post)), method: :delete, class: "text-red-500 hover:text-red-700", form: { class: "inline" } do %>
          ❤️
        <% end %>
      <% else %>
        <%= button_to post_likes_path(@post), method: :post, class: "text-gray-400 hover:text-red-500", form: { class: "inline" } do %>
          ♡
        <% end %>
      <% end %>
      <span class="text-sm text-gray-500">
              <%= "Total likes: #{@post.likes.size}" %>
      </span>
    </div>
    <div class="comments-section mt-4 px-4 pb-4">
      <% @post.comments.each do |comment| %>
        <div class="bg-gray-100 rounded p-3 mb-2">
          <p class="text-gray-800 font-semibold"><%= comment.body %></p>
          <p class="text-gray-600 text-sm">by <%= comment.user.username %></p>
        </div>
      <% end %>
    <% if current_user == @post.user %>
      <div class="mt-4 flex justify-end space-x-4">
        <%= link_to 'Edit', edit_post_path(@post), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>
</div>

